/* Write your CSS here */
.welcome-text {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: bold;
}
.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
